.square {
    border-radius: 0px
}
/* .jumbotron {
    background-image: linear-gradient(to right, #451ef1, black);
    color : #fff;
    height: 100px;
    
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
} */
.jumbotron {
    background-image: linear-gradient(to right, rgb(200, 200, 200), white, #f0f0f0);
    background-size: 200% auto;
    animation: gradientAnimation 2s infinite;
    color: #000000;
    height: 100px;
    padding-top: 20px;
    margin: 30px auto;
    width: 80%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.jumbotrone {
    background-image: linear-gradient(to right, #007bff, #000);
    color : #fff;

}
.pointer {
    cursor: pointer;
}
/* styles.css or your preferred CSS file */
/* styles.css or your preferred CSS file */
.dark-theme-hover:hover {
    background-color: #333; /* Change to the dark background color you prefer */
    color: #fff; /* Change to the default text color you prefer */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
  }
  
  /* Change text color to white when hovering for all text within .dark-theme-hover */
  .dark-theme-hover:hover * {
    color: #fff;
  }
  .custom-search input {
    background-color: black !important;
    color: white;
    font-weight: "bold";
    font-size: "22px";
    border-color: black !important;
  }

  .custom-search .ant-btn-primary {
    background-color: #000000; 
    border-color: black; 
  }
  .custom-search .ant-btn-primary:hover {
    background-color: darkgray; 
    border-color: darkgray; 
  }
  .itemsearchbar:hover {
    background-image: linear-gradient(to right, black, black) ;
  }
  body {
    background-color: #f0f0f0; /* Change to your preferred light color */
    margin: 0;
    padding: 0;
}

  
  
